[Unit]
Description=Mount unit for clion, revision 218
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/clion_218.snap
Where=/snap/clion/218
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
