[Unit]
Description=Mount unit for firefox, revision 2263
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/firefox_2263.snap
Where=/snap/firefox/2263
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
